* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}
.box {
  width: 300px;
  border: 1px solid red;
  margin: 30px auto;
}
.box ul {
  /* đưa vào trong box */
  /* list-style-position: inside; */
  /* loại bỏ dấu tròn */
  /* list-style-type: none; */

  /* Cách viết gộp như border */
  /* list-style: inside upper-alpha; */
}

.box ul li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;

  background: url("../images/right-arrow.png") no-repeat left center/10px;
  vertical-align: middle;
}
