* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product {
  width: 300px;
  border: 1px solid #ddd;
  margin: 30px auto;
  position: relative;
}
.product img {
  max-width: 100%;
  height: auto;
  /* font-size: 0; */
  /* position: relative; */
}

.product .product-info {
  padding: 15px;
}
.images {
  position: relative;
  font-size: 0;
}
.product .sale {
  position: absolute;
  bottom: 0;
  right: 0;
  background: red;
  color: #fff;
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 3px 7px;
}
