* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
table tr td {
  height: 50px;
}
table tr th {
  height: 30px;
}
h3 {
  padding: 20px 0;

  /* font-size: 30px; */
}

.list-products {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-productss {
  display: flex;
  justify-content: center;
  align-items: center;
}
