.box {
  width: 100%;
  border: 1px solid red;
  /* padding: 10px 20px 30px 40px; */
  padding-top: 56.25%;
  /* Theo ty le 16:9 */
}

/* the span la inline nen phai chuyen ve block  */
span {
  border: 1px solid red;
  padding: 10px 10px;
  display: block;
}
