* {
  padding: 0;
  margin: 0;
  font-family: "roboto";
}
.heading {
  border: 1px solid #49ae50;
  margin: 20px;
  display: inline-block;
}
.heading-Vn {
  background: #49ae50;
}
.heading ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: aqua;
}
.heading ul li {
  padding: 10px 20px;
  cursor: pointer;
}
.heading li a {
  text-decoration: none;
}

.heading ul li:hover {
  background-color: #49ae50;
  color: #fff;
}

.about-us {
  display: flex;
  margin: 20px;
}

.left {
  padding-right: 100px;
  padding-top: 50px;
  padding-left: 50px;
  background-color: #ede5e5;
}
.right iframe {
  width: 900px;
  height: 500px;
}
.address h2 {
  margin-bottom: 20px;
}
.address p {
  padding: 5px 0;
}

.contact {
  padding-top: 20px;
}
