body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
}
button {
  background: aqua;
  display: block;
  padding: 10px 20px;
  border: none;
  border-radius: 99px;
}
